* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-color: lightslategrey;
  text-align: center;
  /* padding: 1vmin; */
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  color: rgb(43, 50, 57);
  font-size: 10vmin;
  background-color: white;
}

.red {
  color: rgb(107, 39, 39);
}

.blue {
  color: rgb(69, 69, 116);
}

.btn-reset {
  padding: 1.5vmin;
  font-size: 3vmin;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.btn-reset:hover {
  transform: scale(1.3, 1.3);
  background-color: rgb(43, 50, 57);
  color: white;
}

.msg-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msg {
  font-size: 10vmin;
}

.hide {
  display: none;
}
