* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
}

#heading {
  background-color: darkslategray;
  padding: 10px;
  color: white;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 30px;
}

.choice {
  height: 165px;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.choice:hover {
  background-color: black;
}

.choice img {
  height: 155px;
  width: 155px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.choice img:hover {
  opacity: 0.7;
}

.score-card {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.score {
  font-size: 30px;
}

#user-score,
#comp-score {
  font-size: 50px;
  margin-bottom: 5px;
}

.msg-container {
  margin-top: 50px;
}

#msg {
  background-color: darkslategray;
  color: white;
  padding: 15px 20px;
  display: inline;
  border-radius: 10px;
}
