* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container {
  background-color: rgb(170, 48, 3);
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}

.todo {
  width: 100%;
  max-width: 540px;
  background-color: white;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo h2 {
  color: black;
  font-weight: 900;
  display: flex;
}

.todo img {
  width: 30px;
  margin-left: 10px;
}

.input {
  /* border: 1px solid red; */
  background-color: lightgray;
  border-radius: 15px;
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.input .task {
  flex: 1;
  background: transparent;
  border: none;
  padding: 5px;
  outline: none;
  margin: 5px 15px;
  font-size: 15px;
}

.input .btn-add {
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(170, 48, 3);
  color: white;
  border: none;
  width: 60px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
}

ul li {
  list-style: none;
  padding: 10px 10px 5px 50px;
  user-select: none;
  margin-top: 10px;
  position: relative;
}

ul li::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 8px;
  border-radius: 50%;
  background-image: url("./img/unchecked.png");
  background-size: cover;
  background-position: center;
  height: 26px;
  width: 26px;
}
ul li p {
  position: absolute;
  top: 0;
  right: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 15px;
  color: darkred;

  cursor: pointer;
}
ul li span {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: darkred;

  cursor: pointer;
  /* background-color: gainsboro; */
}

ul li span:hover {
  border-radius: 50%;
  background-color: gainsboro;
}

.checked {
  color: grey;
  text-decoration: line-through;
}

.checked::before {
  background-image: url("./img/checked.png");
}
